@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

$font-primary: "Roboto Condensed", sans-serif;
$color-primary: #b6142c;
$color-dark: #212121;
$transition: 0.3s;
$text: 18px;
$heading: 30px;
*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body.chakra-ui-dark {
  .select_drop * {
    // background-color: var(--chakra-colors-gray-700);
    color: #000;
    box-shadow: none;
  }
}
.filter_customers {
  > button {
    margin-right: 10px;
  }
}

.single_customer_sidepanel {
  .cus_details {
    margin-top: 10px;
    > h2 {
      font-size: 14px;
      color: var(--chakra-colors-gray-400);
      font-weight: 500;
    }
  }
  .detail_panel {
    padding: 15px;
    font-size: 12px;
  }
}

.create_payment_modal {
  div[role="group"] {
    margin-bottom: 10px;
    * {
      font-size: 14px;
    }
  }
}

.action_menu {
  h2 {
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 10px;
    margin: 10px 0;
  }
}

.alert_pop {
  font-family: system-ui, sans-serif;
  h2 {
    text-transform: capitalize !important;
  }
  a.btn-primary {
    background-color: $color-dark;
    border-radius: 5px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    line-height: 2.5;
    font-size: $text;
    transition: $transition;
  }
  &:hover {
    transition: $transition;
  }
}

a.anchor_hover {
  transition: $transition;
  border-radius: 8px;
  padding: 0 10px;
  &:hover {
    background-color: #f4f3f3;
    transition: $transition;
  }
}
